<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    </head>
    <body>
        <div th:if="${param.error}">
            Ususario o Contraseña incorrectos
        </div>
        <div th:if="${param.logout}">
            Se ha Deslogueado
        </div>

        <main class="form-signin w-100 m-auto">
            <form th:action="@{/login}" method="post">
              <div class="form-floating">
                <input type="text" class="form-control" name="username" id="floatingInput" placeholder="NombreUsuario">
                <label for="floatingInput">Usuario</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Contraseña">
                <label for="floatingPassword">Contraseña</label>
              </div>
              <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
            </form>
        </main>

    </body>
</html>